h2{
    font-size: large;
    text-align: center;
    text-shadow: 0 0 3px 3px red;
}


.hide {
    background: black;
    width:100px;
    padding: 10px;
    position: absolute;
    top:55%;
    left:50%;
    text-align: center;
    box-shadow: 0 0 4px 4px black;
    border-radius: 4px;
    display: none;
  }
  .myDIV{
      background: gray;
      margin:0;
      padding:10px;
      width:100px;
      height:100px;
      position: absolute;
      top: 50%;
      left:50%;
      box-shadow: 0 0 4px 4px black;
      border-radius: 4px;
      justify-content: center;
  }
  .myDIV:hover + .hide {
    display: block;
    background:purple;
    color:yellowgreen;
  }
